
body{
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  
  }
  .landingPage{
    background-image: url("../img/backgrounds/landing.jpg");
    background-size: cover;
    height: 750px;
  }
  .landingImg img{
    position: absolute;
    top: 300px;
    left: 40%;
  }
  .landingImg h1{
    position: absolute;
    top: 600px;
    left: 40%;
    color: white;
  
  }
  h1 span{
    font-size: 50px;
  }
  .menu{
    height: 250px;
    }
.happyHour{
    font-size: 25px;
    text-align: center;
    }
    #partyTime{
      background-color:#F15A29;
      font-size: 25px;
    text-align: center;
       }
      .breakfast:hover{
        opacity: 0.6;
        color: black;
      }
      .breakfast p{
        color: white;
      }
      .lunch:hover p{
        color: black;
      }
      .lunch:hover{
        opacity: 0.6;
      
      }
      .dinner:hover p{
        color: black;
      }
      .dinner:hover{
        opacity: 0.6;
      }

.wholeBoxModel{
    height: 1000px;
    position: relative;
    top: 200px;
    left: 200px;
  }
  .fBoxModelText{
    position: relative;
    top: -400px;
    left: 700px;
  }
  .sBoxModelImg{
    position: relative;
    top: -400px;
    left: 900px;
    width: 950px;
  }
  .boxModel2{
    position: relative;
    left: 200px;
    top: -200px;
  }
      
     